


.question {
    margin-top: 10px;
    margin-left: 50px;
    background-color: white;
    width: 70%;
    height: 100%;

}
.each-question {
    border: 1px solid rgb(240, 242, 247);
}
.answer-user {
    font-size: 15px;
}

.question-title{
    text-align: center;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 28.8px;
    line-height: 1.6;
    cursor: pointer;
}

.question-description {
   font-size: 18px;
   text-align: center;
}