.root{
  height: 1000px;
  background-image: url('./images/signup_backgroud.jpg');
  background-repeat: no-repeat;
  background-color: #b8e5f8;
  background-size: cover;
}

.SignContainer{
  display: flex;
  height: 432px;
  width: 504px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(26,26,26,.1);
}

.bihulogo{
  height: 95px;
  width: 90px;
  margin-left: 197px;
  margin-bottom: 20px;
  margin-top: 18px;
}

.slogan{
  margin-left: 65px;
  margin-top: 15px;
  color: #0084ff;
  font-size: 22px;
}

.tip{
  margin-left: 75px;
  margin-top: 15px;
  color: red;
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 140px;
  margin-left: 175px;
}

.input{
  margin-top: 10px;
  height: 43px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid red;
  outline: none;
}

#signup-button{
  margin-top: 10px;
  height: 38px;
  background-color: #0084ff;
  color: #fff;
  font-size: 25px;
}

#login-button{
  margin-top: 10px;
  height: 38px;
  background-color: #0084ff;
  color: #fff;
  font-size: 25px;
}

.login-directly{
  margin-left: 60px;
  margin-top: 15px;
}

.loginBtn-onSignup{
  color: #0084ff;
  border: none;
  font-size: 18px;
}